<div class="github-integration-container">
  <mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
  <div *ngIf="!isAuthenticated" class="github-integration-not-auth-container">
    <mat-card>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo"
                 width="20" style="margin-right: 10px;">
            GitHub
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-container">
          <button mat-raised-button color="primary" (click)="connectToGitHub()">
            Connect
          </button>
          <p class="expansion-text">Connect Sredio to GitHub</p>
        </div>
      </mat-expansion-panel>
    </mat-card>
  </div>
  <div *ngIf="isAuthenticated" class="github-integration-auth-container">
    <mat-card>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <div class="github-expansion-header-container">
              <div class="github-expansion-header-left">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub Logo">
                GitHub
                <mat-icon [ngStyle]="{'color':'#4CAF50'}">check_circle</mat-icon>
                <mat-icon color="black">history</mat-icon>
              </div>
              <div class="github-expansion-header-right">
                <div>
                  Admin: Last Synced: {{ formatDate ? formatDate : ''}}
                </div>
                <div>
                  Sync Type: full
                </div>
              </div>
            </div>
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div class="expansion-content-container">
          <button mat-raised-button [disabled]="isLoading" color="primary" (click)="removeIntegration()">
            Remove
            <mat-icon iconPositionEnd>delete</mat-icon>
          </button>
        </div>
      </mat-expansion-panel>
    </mat-card>
  </div>
</div>
