div {
  &.github-integration-container {
    div {
      &.github-integration-not-auth-container {
        mat-card {
          width: 400px;
          margin: 20px auto;
          mat-expansion-panel {
            background: #f9f9f9;
            div {
              &.expansion-container {
                text-align: center;
                padding: 20px;
                p.expansion-text {
                  margin-top: 15px;
                  font-weight: 500;
                  color: #3f51b5;
                }
                button {
                  width: 120px;
                }
              }
            }
          }
        }
      }
      &.github-integration-auth-container {
        mat-card {
          width: 800px;
          margin: 20px auto;
          mat-expansion-panel {
            div {
              &.github-expansion-header-container {
                display: flex;
                justify-content: space-between;
                text-align: center;
                width: 100%;
                div {
                  &.github-expansion-header-left {
                    display: flex;
                    align-items: center;
                    mat-icon {
                      margin-left: 5px;
                    }
                    img {
                      width: 30px;
                      margin-right: 10px;
                    }
                  }
                  &.github-expansion-header-right {
                    color: darkgray;
                    text-align: end;
                  }
                }
              }
              &.expansion-content-container {
                display: flex;
                align-items: center;
                justify-content: end;
                padding: 20px;
              }
            }
          }
        }
      }
    }
  }
}

